<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackdartq.schoolproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moblie_application_class_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/moblie_application_class_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".CheckForDateService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".AssignmentActivity" />
        <activity android:name=".AddModifyCourse" />
        <activity android:name=".AddModifyAssignment" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".AddModifyTerm" />
        <activity
            android:name=".TermActivity"
            android:label="@string/title_activity_term2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>